body {
    background-image: url("images/PHB_CharacterSheet.jpg");
    image-rendering: optimizeQuality;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

span.cls_002 {
    font-family: Arial, serif;
    font-size: 7.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_002 {
    font-family: Arial, serif;
    font-size: 7.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_003 {
    font-family: Arial, serif;
    font-size: 5.8px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_003 {
    font-family: Arial, serif;
    font-size: 5.8px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_004 {
    font-family: Arial, serif;
    font-size: 6.5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_004 {
    font-family: Arial, serif;
    font-size: 6.5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_005 {
    font-family: Arial, serif;
    font-size: 5.8px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_005 {
    font-family: Arial, serif;
    font-size: 5.8px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_006 {
    font-family: Arial, serif;
    font-size: 7.0px;
    color: rgb(149, 151, 151);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_006 {
    font-family: Arial, serif;
    font-size: 7.0px;
    color: rgb(149, 151, 151);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_007 {
    font-family: Arial, serif;
    font-size: 7.0px;
    color: rgb(160, 161, 161);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_007 {
    font-family: Arial, serif;
    font-size: 7.0px;
    color: rgb(160, 161, 161);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_008 {
    font-family: Arial, serif;
    font-size: 5.8px;
    color: rgb(149, 151, 151);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_008 {
    font-family: Arial, serif;
    font-size: 5.8px;
    color: rgb(149, 151, 151);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_009 {
    font-family: Arial, serif;
    font-size: 5.5px;
    color: rgb(201, 202, 202);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_009 {
    font-family: Arial, serif;
    font-size: 5.5px;
    color: rgb(201, 202, 202);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_010 {
    font-family: Arial, serif;
    font-size: 6.5px;
    color: rgb(255, 254, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_010 {
    font-family: Arial, serif;
    font-size: 6.5px;
    color: rgb(255, 254, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_011 {
    font-family: Arial, serif;
    font-size: 5.5px;
    color: rgb(202, 202, 202);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_011 {
    font-family: Arial, serif;
    font-size: 5.5px;
    color: rgb(202, 202, 202);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_012 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_012 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_014 {
    font-family: Arial, serif;
    font-size: 7.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_014 {
    font-family: Arial, serif;
    font-size: 7.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_013 {
    font-family: Arial, serif;
    font-size: 6.5px;
    color: rgb(197, 198, 198);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_013 {
    font-family: Arial, serif;
    font-size: 6.5px;
    color: rgb(197, 198, 198);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

* {
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=textbox]::-webkit-inner-spin-button, input[type=textbox]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    background-color: transparent;
    border: 1px solid black;
}

form.charSheet {
    width: 1400px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

form.charSheet header div.header {
    width: 100%;
    display: flex;
    align-content: stretch;
    align-items: stretch;
}

form.charSheet main div.stats {
    width: 50%;
}

form.charSheet main div.stats ul.stats {
    display: flex;
    /* align-content: stretch;
    align-items: stretch; */
}

form.charSheet main div.stats ul.stats li {
    display: flex;
    align-items: center;
}

/* form.charSheet main div.stats ul.stats li > * {
    margin-left: 5px;
  } */

.header {}

.header h1 {
    font-size: 50px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidenav {
    overflow: hidden;
    background-color: #333;
}

.sidenav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidenav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav a:hover {
    background-color: green;
    stroke: black;
    color: black;
}

.leftcolumn {
    float: left;
    width: 80%;
}

.rightcolumn {
    float: right;
    width: 20%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.rightcolumn .card table {
    background-color: lightgray;
    border-collapse: collapse;
}

.rightcolumn .card table tbody tr:nth-child(even) {
    background-color: lightgray;
}

.rightcolumn .card table tbody {
    border: 1px solid black;
    background-color: darkgray;
}

.rightcolumn .card table tbody tr, td {
    border: 1px solid black;
}

.rightcolumn .card table thead {
    font-weight: bold;
    border-collapse: collapse;
    background-color: gray;
}

.rightcolumn .card table tfoot {
    border: 1px solid black;
    background-color: black;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

text .info {
    color: black;
}

/* .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: inherit;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: inherit;
} */

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: black;
    border-color: black;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}



@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}